spring.application.name=my_telegram_gpt_bot
bot.token=INSERT_YOUR_BOT_TOKEN_HERE
gpt.token=INSERT_YOUR_GPT_TOKEN_HERE
quote.token=INSERT_YOUR_QUOTE_TOKEN
gpt.url=https://api.openai.com/v1/chat/completions

spring.datasource.url=YOUR_DATABASE_SETTINGS
spring.datasource.username=YOUR_DATABASE_SETTINGS
spring.datasource.password=YOUR_DATABASE_SETTINGS

spring.jpa.hibernate.ddl-auto=validate
spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration

spring.data.redis.host=YOUR_REDIS_HOST
spring.data.redis.port=YOUR_REDIS_PORT
spring.data.redis.password=YOUR_REDIS_PASSWORD
spring.data.redis.ssl.enabled=true